.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 24px;
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  max-width: 95%;
  max-height: 100%;
}

.ex {
  opacity: .5;
}

.pretty-print {
  font-style: italic;
}

h1 {
  font-family: "DejaVu Sans Mono", Menlo, Consolas, "Liberation Mono", Monaco, "Lucida Console", monospace;
}

.formatter {
  width: 100%;
  height: 100%;
}
